<div class="my-orders__container">
    <div class="my-orders__header">
        <h1>Pedidos</h1> <hr>
        <input type="button" value="Carrinho de compras" (click)="modifeTypeToOrder()">
        <input type="button" value="Pedidos Feitos" (click)="modifeTypeOrder()">
    </div>

    <div class="my-orders__content" [ngSwitch]="optionToOrders">
        <div *ngSwitchDefault="true" class="my-orders__content__items">
            <div class="my-orders__content__items__top">
                <h1>Carrinho de compras</h1>
                <input type="button" value="Comprar" (click)="purchase()">
            </div>
            <div class="my-orders__content__items__card" *ngFor="let item of shoppingCart">
                <img src="{{item.image}}" alt="image of {{item.orders}}">
                <div>
                    <h2> {{item.orders}} </h2>
                    <h3>Quantidade: {{item.quantity}}</h3>
                </div>
                
                <label> R$ {{item.price}}</label>
                <input type="button" value="Remover" (click)="remove(item)">
            </div>
        </div>

        <div *ngSwitchCase="false" class="my-orders__content__items">
            <div class="my-orders__content__items__top">
                <h1>Pedidos feitos</h1>
            </div>
            <div class="my-orders__content__items__card" *ngFor="let item of dataOrderPlaced">
                <img src="{{item.image}}" alt="image of {{item.order}}">
                <div>
                    <h2> {{item.orders}} </h2>
                    <h3>Quantidade: {{item.quantity}}</h3>
                </div>
                <label> R$ {{item.price}}</label>

                <div>
                    <label> PEDIDO À CAMINHO</label>
                    <input type="button" value="Pedido Entregue" (click)="removeFromApi(item.id)">
                </div>
                
            </div>
        </div>
    </div>

</div>