<div class="profile__container">
    <div class="profile__user" [ngSwitch]="optionUser">
        <div class="profile__user__normal" *ngSwitchDefault="false">
            <h1>Usuário</h1>
            <p><span>Usuário:</span>{{user.name}}</p>
            <br>
            <p><span>Email:</span> {{user.email}}</p>

            <div>
                <button type="button" (click)="modifeUserScreen()">Modificar</button>
                <img src="https://cdn-icons-png.flaticon.com/512/3625/3625005.png" (click)="openModal('Tem certeza que deseja mesmo deletar o Usuário?', 'deleteUser')" height="50px" alt="botão de excluir">
            </div>
        </div>

        <form *ngSwitchCase="true" class="profile__user__modife" (ngSubmit)="updateUser()" [formGroup]="userForm" #formDir="ngForm">
            <h1>Modificar Usuário</h1>
            <input type="text" placeholder="Nome" id="name" formControlName="name">
            <p class="alert-required" *ngIf="name.errors?.['required'] && formDir.submitted"> Você deve preencher o nome</p>
            <input type="email" placeholder="Email" id="email" formControlName="email"> 
            <p class="alert-required" *ngIf="email.errors?.['email'] && formDir.submitted"> Formato de email errado</p>
            <p class="alert-required" *ngIf="email.errors?.['required'] && formDir.submitted"> Você deve preencher o email</p>
            <input type="password" placeholder="Senha" id="password" formControlName="password">
            <p class="alert-required" *ngIf="password.errors?.['required'] && formDir.submitted"> Você deve preencher o campo senha</p>
            <p class="alert-required" *ngIf="password.errors?.['minlength'] && formDir.submitted"> Deve haver no mínimo 6 caracteres</p>
            <button type="submit">Atualizar</button>
            <button type="button" (click)="modifeUserScreen()">Cancelar</button>
        </form>
    </div>


    <div class="profile__address" [ngSwitch]="optionAddress">
        <div *ngSwitchDefault="false">
            <h1>Endereço</h1>
            <p><span>Bairro:</span> {{address.bairro}} </p>
            <p><span>Rua:</span> {{address.logradouro}} </p>
            <p><span>Complemento:</span> {{address.complemento}}  |  <span>Número:</span> {{address.numero}}</p>
            <p><span>Localidade:</span> {{address.localidade}}   |  <span>Estado:</span> {{address.uf}} </p>

            <div>
                <button type="button" (click)="modifeAddressScreen()">Adicionar</button>
                <img src="https://cdn-icons-png.flaticon.com/512/3625/3625005.png" (click)="openModal('Tem certeza que deseja mesmo deletar o Endereço?', 'deleteAddress')" height="50px" alt="botão de excluir">
            </div>
        </div>

        <form *ngSwitchCase="true" class="profile__address__modife" (ngSubmit)="createAddress()" [formGroup]="addressForm" #formDir="ngForm">
            <h1>Modificar Endereço</h1>
            <input type="text" placeholder="Cep" name="cep" id="cep" formControlName="cep">
            <button type="button" (click)="searchCep(addressForm.value.cep)">Buscar endereço</button>
            <div class="profile__address__modife__forms">
                <input type="text" placeholder="Bairro" name="bairro" id="bairro" formControlName="bairro">
                <input type="text" placeholder="Rua" name="logradouro" id="logradouro" formControlName="logradouro">
                <input type="number" placeholder="Número" name="numero" id="numero" formControlName="numero">
                <input type="text" placeholder="Cidade" name="localidade" id="localidade" formControlName="localidade">
                <input type="email" placeholder="Complemento" name="complemento" id="complemento" formControlName="complemento"> 
            </div>
            <p class="alert-required" *ngIf="(cep.errors?.['required'] || bairro.errors?.['required'] || logradouro.errors?.['required'] || numero.errors?.['required'] || localidade.errors?.['required']) && formDir.submitted"> Você deve preencher os campos </p>
            <button type="submit">Adicionar endereço</button>
            <button type="button" (click)="modifeAddressScreen()">Cancelar</button>
        </form>
    </div>
</div>
