@mixin flexstylus{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin stylusDivBotton{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    button{
        margin-top: 0px !important;
    }
    img{
        margin-left: 10px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}
.alert-required{
    color: red;
    font-size: 0.8em;
}
.profile__container{
    padding: 60px 0px 0px 0px;
    @include flexstylus();
    flex-direction: column;
    .profile__user{
        width: 60%;
        padding-bottom: 30px;
        border-bottom: 3px solid black;
        @media screen and (max-width:800px){
            width: 80%;
        }
        @media screen and (max-width:400px){
            width: 90%;
        }
        .profile__user__modife{
            input{
                margin-top: 10px;
                width: 100%;
                padding: 14px 18px;
                border: none;
                border-bottom: #e92f48 solid 5px;
                border-radius: 5px;
                background: #ececec;
            }
            button{
                width: 100% !important
            }
        }
        .profile__user__modife, .profile__user__normal, .profile__address__modife{
            border: 1px 0px solid black;
            @include flexstylus();
            width: 100%;
            display: flex;
            flex-direction: column;
            h1{
                color: #e92f48;
                margin: 30px 0px 20px 0px;
            }
            div{
                @include stylusDivBotton();
            }
            span{
                color: #e92f48;
                font-size: 1.3em;
                font-weight: bold;
            }
            button{
                margin-top: 15px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #e92f48;
                color: white;
                border-radius: 10px;
                width: 200px;
                height: 50px;
                &:hover{
                    background-color: #b0261a;
                }
            }
        }
    }

    .profile__address{
        width: 60%;
        margin-bottom: 30px;
        @include flexstylus();
        @media screen and (max-width:800px){
            width: 80%;
        }
        @media screen and (max-width:400px){
            width: 90%;
        }
        .profile__address__modife{
            input{
                margin-top: 10px;
                width: 100%;
                padding: 14px 18px;
                border: none;
                border-bottom: #e92f48 solid 5px;
                border-radius: 5px;
                background: #ececec;
            }
            .profile__address__modife__forms{
                display: grid;
                grid-template-columns: 47% 47%;
                justify-content: space-around;
            }
            button{
                width: 100% !important
            }
        }
        div, form{
            border: 1px 0px solid black;
            @include flexstylus();
            flex-direction: column;
            width: 100%;
            span{
                color: #e92f48;
                font-size: 1.3em;
                font-weight: bold;
            }
            p{
                font-size: 1.1em;
            }
            h1{
                color: #e92f48;
                margin: 30px 0px 20px 0px;
            }
            button{
                margin-top: 15px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
    
                background-color: #e92f48;
                color: white;
                border-radius: 10px;
                width: 200px;
                height: 50px;
                &:hover{
                    background-color: #b0261a;
                }
            }
            div{
                @include stylusDivBotton();
            }
        }
    }

}