<div class="main-home__container">
    <div class="main-home__container__top">
        <img src="https://png.pngtree.com/png-vector/20220810/ourmid/pngtree-illustration-of-a-vector-icon-depicting-a-combo-meal-featuring-a-hamburger-pizza-and-beverage-vector-png-image_33155754.png" width="300px" alt="">
    </div>

    <div class="main-home__container__lower">
        <input type="button" value="PERFIL & ENDEREÇO" [routerLink]="['/profile']">
        <input type="button" value="CARDÁPIO">
        <input type="button" value="MEUS PEDIDOS">
    </div>
</div>