@mixin flexstylus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-home__container{
    width: 100%;
    .main-home__container__top{
        height: 40vh;
        background-color: #e92f48;
        border-radius: 0px 0px 35% 35%;
        position: relative;
        @include flexstylus();
        img{
            position: absolute;
            bottom: -110px;
        }
        @media screen and (max-width:500px){
            height: 30vh;
            img{
                bottom: -100px;
                width: 230px;
            }
        }
        @media screen and (max-width:400px){
            img{
                bottom: -90px;
                width: 210px;
            }
        }
        @media screen and (min-width:1500px){
            img{
                bottom: -150px;
                width: 400px;
            }
        }
    }
    .main-home__container__lower{
        @include flexstylus();
        height: 60vh;
        input{
            margin-right: 15px;
            @include flexstylus();
            cursor: pointer;
            border: 3px solid #e92f48;
            color: #e92f48;
            font-size: 1.2em;
            font-weight: bold;
            border-radius: 10px;
            width: 280px;
            height: 70px;
            &:hover{
                background-color: #dadada;
            }
        }
        @media screen and (max-width:500px){
            flex-direction: column;
            height: 70vh;
            margin-top: 10px;
            input{
                margin: 0px 0px 10px 0px;
                font-size: 1em;
            }
        }
    }
}