<div class="register__container">
    <div class="register__top">
        <div class="register__top__header">
            <h4>Bem vindo ao</h4>

            <div>
                <h4>Já possui conta?</h4>
                <a [routerLink]="['/login']">Login</a>
            </div>
        </div>
        <h1>Cadastre-se</h1>
    </div>

    <form class="register__form" [formGroup]="createAccountForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Nome Completo" formControlName="name" />
        <p class="alert-required" *ngIf="name.errors?.['required'] && formDir.submitted"> Você deve preencher o seu nome</p>
        <input type="email" placeholder="Email" id="email" formControlName="email"/>
        <p class="alert-required" *ngIf="email.errors?.['required'] && formDir.submitted"> Você deve preencher o email</p>
        <p class="alert-required" *ngIf="email.errors?.['email'] && formDir.submitted"> Formato do email errado</p>
        <input type="password" placeholder="Password" id="password" formControlName="password" />
        <p class="alert-required" *ngIf="password.errors?.['required'] && formDir.submitted"> Você deve preencher o campo senha</p>
        <p class="alert-required" *ngIf="password.errors?.['minlength'] && formDir.submitted"> Deve haver no mínimo 6 caracteres</p>

        <button type="button" type="submit">Entrar</button>
    </form>
</div>
